# Google Service Account JSON file path
GOOGLE_APPLICATION_CREDENTIALS=./service-account.json

# Google Drive folder ID (자동 탐색용)
FOLDER_ID=1PB01d9EKdYmGlYaD3ivRN3-6FlHX_YC2

# Optional: 직접 입력 방식용
SPREADSHEET_URL=
SPREADSHEET_ID=
WORKSHEET_NAME=Sheet1
